<div style="text-align: center">
    <table class="table" align=center border=1>
      <thead class="thead-dark">
        <th>ID</th>
        <th>Patientenname</th>
        <th>Beginn</th>
        <th>Uhrzeit</th>
        <th>Arzt_ID</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>{{termin?.Id}}</td>
          <td>{{termin?.Patientname}}</td>
          <td>{{termin?.Beginn | date: 'dd/MM/yyyy'}}</td>
          <td>{{termin?.Uhrzeit}}</td>
          <td>{{termin?.Arzt_Id}}</td>
          <td><button class="btn btn-secondary" (click)=editTermin(termin)>Termin bearbeiten</button></td>
        </tr>
        <tr *ngIf="editable" align=center>
          <td colspan="6">
            <app-edittermin [id]="termin.Id" [terminToEdit]="termin"></app-edittermin>
          </td>
        </tr>
      </tbody>
    </table>
  </div>