<div class="container">
  <form #editForm="ngForm">
    <!--{{diagnostic}}-->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required value={{arztToEdit.Name}} [(ngModel)]="model.Name"
        name="name">
    </div>

    <div class="form-group">
      <label for="telefon">Telefon</label>
      <input type="text" class="form-control" id="telefon" required value={{arztToEdit.Telefon}} [(ngModel)]="model.Telefon"
        name="telefon">
    </div>

    <button type="submit" class="btn btn-default" style="margin: 5px;" [disabled]="!editForm.form.valid" (click)="editArzt()">Bearbeiten</button>
  </form>
</div>
