<h1>Willkommen zur Arztpraxisverwaltung!</h1>
<h4>Wählen Sie aus, ob sie zu der Ärzteverwaltung oder zur Terminverwaltung wollen!</h4>
<div>
  <button routerLink='/arzt' class="btn btn-primary" style="width: 50%">Ärzte</button>
  <button routerLink='/termin' class="btn btn-success" style="width: 50%">Termine</button>
</div>