<div class="container">
  <h1>Arzt-Form</h1>
  <form #arztForm="ngForm">
    <!--{{diagnostic}}-->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="model.Name" name="name">
    </div>

    <div class="form-group">
      <label for="telefon">Telefon</label>
      <input type="text" class="form-control" id="telefon"
      required
      [(ngModel)]="model.Telefon" name="telefon">
    </div>

    <button type="submit" class="btn btn-default"
    [disabled]="!arztForm.form.valid" (click)="newArzt()">Hinzufügen</button>
  </form>
</div>