<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<button routerLink='/' class="btn btn-dark">Zurück zur Startseite</button><p></p>
<div style="text-align:center">
  <table style="width: 70%;" class="table" align=center border=1>
    <thead class="thead-dark">
      <tr>
        <th>Patientenname</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let termin of terminList">
      <tr>
        <td>{{termin.Patientname}}</td>
        <td><button class="btn btn-success" (click)=selectTerminDetails(termin)>Details anzeigen</button></td>
        <td><button class="btn btn-danger" (click)=deleteTermin(termin)>Termin löschen</button></td>
      </tr>
      <tr *ngIf="termin.Id==selectedTermin?.Id" align=center>
        <td colspan="3">
          <app-termin-detail [id]="termin?.Id"></app-termin-detail>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)=openTerminForm()>Neuen Termin hinzufügen</button>
  <app-termin-form *ngIf="terminForm"></app-termin-form>
</div>