<div style="text-align: center">
  <table class="table" align=center border=1>
    <thead class="thead-dark">
      <th>ID</th>
      <th>Name</th>
      <th>Telefon</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>{{arzt?.Id}}</td>
        <td>{{arzt?.Name}}</td>
        <td>{{arzt?.Telefon}}</td>
        <td><button class="btn btn-secondary" (click)=editArzt(arzt)>Arzt bearbeiten</button></td>
      </tr>
      <tr *ngIf="editable" align=center>
        <td colspan="4">
          <app-editarzt [id]="arzt.Id" [arztToEdit]="arzt"></app-editarzt>
        </td>
      </tr>
    </tbody>
  </table>
</div>