<!--The content below is only a placeholder and can be replaced.-->
<table style="width: 70%;" class="table" align=center border=1>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Patientenname</th>
      <th>Beginn</th>
      <th>Uhrzeit</th>
      <th>Arzt_ID</th>
    </tr>
  </thead>
  <tbody *ngFor="let termin of termine">
    <tr>
      <td>{{termin.Id}}</td>
      <td>{{termin.Patientname}}</td>
      <td>{{termin.Beginn | date: 'dd/MM/yyyy'}}</td>
      <td>{{termin.Uhrzeit}}</td>
      <td>{{termin.Arzt_Id}}</td>
    </tr>
  </tbody>
</table>