<div class="container">
    <h1>Termin-Form</h1>
    <form #terminForm="ngForm">
      <!--{{diagnostic}}-->
      <div class="form-group">
        <label for="Patientname">Patientname</label>
        <input type="text" class="form-control" id="Patientname"
          required
          [(ngModel)]="model.Patientname" name="Patientname">
      </div>
  
      <div class="form-group">
        <label for="Beginn">Beginn</label>
        <input type="date" class="form-control" id="Beginn"
          required
          [(ngModel)]="model.Beginn" name="Beginn">
      </div>

      <div class="form-group">
        <label for="Uhrzeit">Uhrzeit</label>
        <input type="time" class="form-control" id="Uhrzeit"
          required
          [(ngModel)]="model.Uhrzeit" name="Uhrzeit">
      </div>

      <div class="form-group">
        <label for="Arzt_Id">Arzt_ID</label>
        <select class="form-control" id="Arzt_Id"
                required
                [(ngModel)]="model.Arzt_Id" name="Arzt_Id"
                #Arzt_Id="ngModel">
          <option *ngFor="let x of arzts" [value]="x.Id">{{x.Name}}</option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-default"
      [disabled]="!terminForm.form.valid" (click)="newTermin()">Hinzufügen</button>
    </form>
  </div>