<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<button routerLink='/' class="btn btn-dark">Zurück zur Startseite</button><p></p>
<div style="text-align:center">
  <table style="width: 70%;" class="table" align=center border=1>
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let arzt of arztList">
      <tr>
        <td>{{arzt.Name}}</td>
        <td><button class="btn btn-success" (click)=selectArztDetails(arzt)>Details anzeigen</button></td>
        <td><button class="btn btn-primary" (click)=selectArztTermine(arzt)>Termine anzeigen</button></td>
        <td><button class="btn btn-danger" (click)=deleteArzt(arzt)>Arzt löschen</button></td>
      </tr>
      <tr *ngIf="arzt.Id==selectedArzt?.Id && checked==1" align=center>
        <td colspan="4">
          <app-arzt-detail [id]="selectedArzt?.Id"></app-arzt-detail>
        </td>
      </tr>
      <tr *ngIf="arzt.Id==selectedArzt?.Id && checked==2" align=center>
        <td colspan="4">
          <app-show-termine-by-arzt [id]="selectedArzt?.Id"></app-show-termine-by-arzt>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)=openArztForm()>Neuen Arzt hinzufügen</button>
  <app-arzt-form *ngIf="arztForm"></app-arzt-form>
</div>